ody{
    background-color: rgb(255, 255, 255);
}
#pai{
    width: 200px;
    height: 200px;
    background: rgb(192, 192, 192);
}
.filho{
    position: relative;
    top: 30px;
    height: 20px;
    width:100%;
    background: rgb(221, 11, 11);
 

}