html{
    background: rgb(209, 207, 207);
    height: auto;
}
.container-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.603);
}
.container-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 200px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.603);
}
.itens{
    background: rgb(45, 51, 105);
    width: 100%;
    height: 100%;
    color: azure;
    font-weight: 600;
    text-align: center;
}
.container-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.603);
}
.container-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 200px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.603);
}