body {
	font: 12pt verdana, arial, helvetica, sans-serif; color: #23238e; background-color: #faebd7;
}
.barnav a {
	border-right: #000000 2px solid; 
	padding-right: 10px; border-top: #000000 2px solid; padding-left: 10px; 
	background: #00ff00; padding-bottom: 5px; 
	margin: 10px; font: bold 13px arial, helvetica, verdana,sans-serif; border-left: #000000 2px solid; 
	color: #000000; padding-top: 5px; border-bottom: #000000 2px solid; text-align: center; text-decoration: none;
}
.barnav a:active {
	border-right: #cccccc 2px solid; 
	border-top: #cccccc 2px solid; 
	background: #000000; border-left: #cccccc 2px solid; 
	color: #cccccc; border-bottom: #cccccc 2px solid;
}
.barnav a:hover {
	border-right: #0ff000 2px solid; 
	border-top: #0ff000 2px solid; 
	background: #000000; border-left: #0ff000 2px solid; 
	color: #00ff00; border-bottom: #0ff000 2px solid;
}
div.centro {
	text-align: center;
}
p {
	margin: 0px; font: 12pt verdana, arial, helvetica, sans-serif; text-align: justify;
}
a:link {
	color: #00f; background-color: transparent; text-decoration: none;
}
a:visited {
	color: #999; background-color: transparent; text-decoration: none;
}
a:hover {
	color: #333; background-color: #9c9;
}
h1 {
	padding-right: 0px; padding-left: 0px; padding-bottom: 10px; margin: 0px; cursor: crosshair; padding-top: 5px;
	font-weight: bold; font-size: 18pt; font-family: verdana,arial; background-color: #bebebe; text-align: center; text-decoration: none;
}
h2 {
	padding-right: 0px; padding-left: 0px; padding-bottom: 10px; margin: 0px; cursor: crosshair; padding-top: 5px;
	font-size: 14pt; font-family: verdana,arial; background-color: #bebebe; text-align: center; text-decoration: underline;
}
div.meta {
	padding-right: 0px; padding-left: 0px; padding-bottom: 10px; margin: 0px; cursor: crosshair; padding-top: 5px;
	font-size: 13pt; font-style: italic; font-family: verdana,arial; background-color: #bebebe; text-align: center; text-decoration: none;
}
table {
	margin: 1em 0; width: 100%;
	border-color: #d3e7f4;
}
th {
	padding: .3em .5em;
	font: 14pt verdana, arial, helvetica, sans-serif;
	border-bottom: 2px solid #d3e7f4; color: #494949; font-weight: bold;
}
td a:link, td a:visited {
	color: #6f9dbd;
}
td {
	font: 12pt verdana, arial, helvetica, sans-serif
}
.topo {
	font-weight: bold; font-size: 12pt; font-family: verdana,arial; text-align: center; color: #000080;  
	padding-right: 0px; padding-left: 0px; padding-bottom: 10px; margin: 0px; padding-top: 5px;
	background-color: #bebebe; text-align: center;
	}
.foto1 { 
	float: right;
}
