.elementExample{
    width: 200px;
    height: 200px;
    line-height: 200px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}
.elementeExample_first{
    position: absolute;
    right: 0;
    background-color: rgb(23, 27, 243);
   
}
.elementeExample_second{
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%,-50%); /*Outra forma de escrever */
    background-color: rgb(14, 167, 0);
}
.elementeExample_last{
    position: absolute;
    background-color: rgb(124, 13, 100);
}
.elementeExample-interna{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(182, 56, 134);
}