body{
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 206, 206);
}
/*border: [largura] [estilo] [cor];*/
#border{
    width: 100%;
    height: 200px;
    background: rgb(102, 102, 102);
    border-top: 1px dashed red;
    border-right: 2px dotted green;
    border-bottom: 3px solid blue;
    border-left: 4px double orange;
}

#border-degrade{
    width: 100%;
    height: 300px;
    border-width: 10px;
    border-image: linear-gradient(to right, #f06, #f90) 10;
    border-image-slice: 1;
}
