/*Margin serve para por margem nos elementos */
/*Margin 1 2 3 4 */
/*1-para cima, 2-para a direita, 3-para baixo 4-para a esquerda*/
body{
    background-color: rgb(255, 255, 255);
}
.div-test{
    position: absolute;
    width: 200px;
    height: 220px;
    background: rgb(102, 102, 102);

}
#margin{
    width: auto;
    height: 200px;
    background:yellow;
    margin:20px 0px 0px 0px ;
}

